html {
	/*base font size*/
   font-size: 12pt;
}

.navbar {
	opacity: 0.9;
	margin-bottom: 0;
	text-align: center;
	font-size: 2rem;
}

.navbar-brand {
	font-size: 2rem;
}

body {
	background-color: white;
	font-family: Lobster, cursive;
	color: white;
}

.pageTwo {
	background: url("../images/About.jpg");
	background-size: cover;
	height: 800px;
}

.raleway {
	font-family: raleway, serif;
}

.lobster {
	font-family: lobster, cursive;
}

#imgCode {
	padding: 10% 10% 10% 10%;
}

#head {
	font-size: 7vw;
	padding-top: 10%;
	padding-left: 10%
}
