html {
	/*base font size*/
   font-size: 12pt;
}

.navbar {
	opacity: 0.9;
	margin-bottom: 0;
	text-align: center;
	font-size: 2rem;
}

.navbar-brand {
	font-size: 2rem;
}

body {
	background-color: white;
	font-family: Lobster, cursive;
	color: white;
}

.home {
	background: url("https://cdn.pixabay.com/photo/2015/03/16/04/39/night-675377_1280.jpg");
	background-size: cover;
}

#Twitter {
	background-color: #0084b4;
	border-color: #0084b4;
	font-size: 5vw;
}

#GitHub {
	background-color: #999;
	border-color: #999;
	font-size: 5vw;
}

#Facebook {
	background-color: #3b5998;
	border-color: #3b5998;
	font-size: 5vw;
}

#LinkedIn {
	background-color: #0077B5;
	border-color: #0077b5;
	font-size: 5vw;
}

#Alpha {
    padding-top: 300px;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 10vw;
}

#buttons {
     padding-top: 10px;
}
/* Newly added */


p {
	font-size: 2vw;
	padding-left: 10%;
	padding-top: 3%;
}

#Portfolio {
	padding-left: 10%;
	padding-top: 5%;
}

.well {
	background-color:grey;
}

.raleway {
	font-family: raleway, serif;
}

.lobster {
	font-family: lobster, cursive;
}
